@import './../styles/mixins.module.scss';
@import './../styles/base.module.scss';

.button {
  @include button(#ccc, black);

  border: solid $thickness $color1;
  border-radius: $squareRadius;
  padding: 5px;
  margin: 5px;

  &.round {
    border-radius: $roundRadius;
  }
}
