@import './../styles/mixins.module.scss';

$color1: green;

.button {
  @include button(#ccc, black);

  border: solid 5px $color1;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;

  &.round {
    border-radius: 20px;
  }
}
