.banner {
  position: relative;
  background-color: #ccc;
  height: 90px;
  .label {
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-left: 40px;
  }
  .stripe {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fd9201;
  }
}
