@import './../styles/mixins.module.scss';
@import './../styles/base.module.scss';

.container {
  position: relative;
  display: inline-block;
}

.menuTop {

  @include button(#ccc, black);

  cursor: pointer;
  border: solid $thickness/2 $color1;
  margin: $thickness/2;

  min-width: 5em;

  @include focus();
}

.menuItems {
  border: solid 1px $color1;
  border-bottom: none;
  min-width: 100px;
  max-height: 30vh;
  overflow-y: auto;

  .menuItem {

    @include button(#ccc, black);

    cursor: pointer;
    border-bottom: solid 1px $color1;

    &.selected {
      outline: solid 2px lighten($color1, 10%);
    }
  }
}