html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-print-color-adjust: exact !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

hr {
  margin: 10px;
  border: solid 1px black;
}
