$font-size: 50px;

.cowForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cowFormRow {
  display: flex;
  margin-bottom: 10px;
}
.cowFormItem {
  padding: 10px;
}
