@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin noTextSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin focusHighlight() {
  @include focusHighlightNormal();

  &:focus {
    @include focusHighlightFocused();
  }
}

@mixin focusHighlightNormal() {
  @include transition(box-shadow 0.25s ease);
  outline: none;
}
@mixin focusHighlightFocused() {
  @include transition(box-shadow 0.25s ease);
  box-shadow: 0 0 3px #1955a6;
}
s .inputText {
  margin: 0;
  padding: 2px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #aaa;
  border-radius: 3px;

  min-height: 23px;
  width: 100%;
  box-sizing: border-box;

  outline: none;

  @include focusHighlight();

  &.notResizable {
    resize: none;
  }

  &.borderless {
    border: none;
    resize: none;
    min-height: 21px;
    &:focus {
      box-shadow: none;
    }
  }

  &.readOnly {
    border: none;
    &:focus {
      outline: none;
    }
  }
}
